.comments {
  display: flex;
  padding-left: 10px;
  background: #fff;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.name {
  font-weight: bold;
  font-size: 13px;
  margin-top: 5px;
}

.comment {
  font-size: 13px;
  margin-left: 5px;
  margin-top: 5px;
}

.input {
  background: white;
  padding: 10px;
  border: 1px solid #ececec;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #b3b0b8;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  box-sizing: border-box;
}

::placeholder {
  color: #b3b0b8;
}

.timestamp {
  background: white;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  font-size: 11px;
  color: #b3b0b8;
  padding: 10px 0px 10px 10px;
}
